# Debug
DEBUG=True

# Application
BACKEND_HOST=0.0.0.0
BACKEND_PORT=80
BACKEND_SECRET_KEY=secret

# PostgreSQL
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=food_db

# Initial user
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=password123456