* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: aliceblue;
}

a {
    color: #f2f2f2;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

.landing-page {
    position: relative;
    background: linear-gradient(53deg, rgb(255, 128, 2) 51%, rgb(241, 190, 37) 70%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1200px;
    width: auto;
}

.landing-page .header-area {
    display: flex;
    padding: 25px 0 0;
    position: relative;
}

.landing-page .header-area .logo {
    text-transform: uppercase;
    font-style: italic;
    margin-top: 10px;
    font-size: 19px;
    width: 300px;
    color: #f2f2f2;
    margin-left: 3px;
}

.landing-page .header-area .links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
}


.landing-page .header-area .links li {
    display: inline-block;
    margin-left: 30px;
    color: #f2f2f2;
    cursor: pointer;
}


.landing-page .header-area .links li:last-child {
    border: 0;
    border-radius: 20px;
    padding: 10px 18px;
    color: #ffffff;
    background-color: #0b0b0b;
}

.landing-page .info {
    width: 35%;
    float: left;
    margin-top: 130px;
}

.landing-page .info h1 {
    font-size: 44px;
    margin: 0 0 20px;
    line-height: 1.4;
    color: #f2f2f2;
}

.landing-page .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #f2f2f2;
}

.landing-page .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #000000;
    background-color: #dcdcdc;
}

.landing-page .image {
    width: 43%;
    float: right;
    margin-top: 80px;
}

.landing-page .image img {
    max-width: 100%;
}

.clearfix {
    clear: both;
}

/* end landing with food plate */