{% extends 'delivery/base.html' %} {% block title %} Создать товар {% endblock%}
{% block content%} 

<style>
  .main-box {
    padding-top: 150px;
  }
  .box {
    padding: 30px;
    margin-left: 30%;
    height: 420px;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
  }
</style>
<div class="main-box">
  <div class="box">
    <center><h1>Создать товар</h1></center>
    {% if submitted %}
    <div class="success" role="alert">Товар успешно создан!</div>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Создать</button>
      <span>{{error}}</span>
    </form>
  </div>
</div>

{% comment %} {% for el in food_list %}
<div>
    <h3>{{ el.name }}</h3>
    <p>{{ el.price }}</p>
    <form action="{% url 'delete_product' el.name %}" method="post">
      {% csrf_token %}
      <button type="submit">Удалить</button>
    </form>
  </div>
{% endfor %} {% endcomment %}
{% endblock %}
