{% load static %}  
<link rel="stylesheet" href="{% static '/css/faq.css' %}" />
<link rel="stylesheet" href="{% static '/css/style.css' %}" />
<body>
    <div class="landing-page">
      <div class="container">
        <div class="header-area">
          <div class="logo">Food <b>Delivery</b></div>
          <ul class="links">
            <li><a href="{% url 'start' %}">Главная</a></li>
            {% if request.user.is_authenticated %}<li><a href="{% url 'menu' %}">Меню</a></li> {% endif %}
            {% if request.user.is_authenticated %} <li><a href="{% url 'delivery' %}">Доставка</a></li> {% endif %}
            <li><a href="{% url 'faq' %}">FAQ</a></li>
            {% if request.user.is_authenticated %}<li><a href="{% url 'order' %}">Корзина</a></li>{% endif %}
            {% if request.user.is_anonymous %}<li><a href="{% url 'login_user' %}">Вход</a></li> {% endif %}
            {% if request.user.is_authenticated %}<li><a href="{% url 'logout' %}">Выход</a></li> {% endif %}
            {% if request.user.is_anonymous %}<li><a href="{% url 'regist' %}">Регистрация</a></li> {% endif %}
            {% if request.user.is_staff and request.user.is_authenticated %}<li><a href="{% url 'create' %}">Создать</a></li> {% endif %}
          </ul>
        </div>
      </div>
    <div id="faq" class="faq-body">
      <div class="faq-header">
        <h3 class="faq-title">FAQ's</h3>
        <div class="seperator"></div>
      </div>
      <div class="faq-list">
        <div>
          <details open>
            <summary title="How can I pay for my appointment?">
              How can I pay for my appointment?
            </summary>
            <p class="faq-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed illo
              quod debitis ducimus iste soluta rerum ipsa consequuntur minus
              quae. Ea minus ex corporis, pariatur quia rerum sequi iusto odit
              enim expedita fugiat, assumenda molestiae earum iste blanditiis,
              ipsum ratione.
            </p>
          </details>
        </div>
        <div>
          <details>
            <summary title="What can I expect at my first consultation?">
              What can I expect at my first consultation?
            </summary>
            <p class="faq-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi,
              molestias similique! Molestiae sapiente omnis, illo facere odit
              reprehenderit eveniet consequuntur sit minus adipisci temporibus
              eius inventore quidem. Dignissimos, facere quae. Rem quas a
              laborum est officia pariatur voluptatum iusto perferendis aut
              labore fugit magni inventore nulla architecto, velit, facilis
              itaque.
            </p>
          </details>
        </div>
        <div>
          <details>
            <summary title="What are your opening hours?">
              What are your opening hours?
            </summary>
            <p class="faq-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos error
              ea accusantium? Sunt cum in, repudiandae et facere at nesciunt
              commodi non quia earum libero aliquid labore obcaecati repellendus
              consequatur! Nesciunt impedit ducimus illum unde optio veritatis
              atque facere, voluptate a odio asperiores laudantium rerum.
            </p>
          </details>
        </div>
        <div>
          <details>
            <summary title="Do I need a referral?">
              Do I need a referral?
            </summary>
            <p class="faq-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
              quisquam numquam labore explicabo cupiditate laboriosam. Ipsam
              explicabo possimus illum aspernatur.
            </p>
          </details>
        </div>
        <div>
          <details>
            <summary title="What are the parking and public transport options?">
              What are the parking and public transport options?
            </summary>
            <p class="faq-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
              quisquam numquam labore explicabo cupiditate laboriosam. Ipsam
              explicabo possimus illum aspernatur.
            </p>
          </details>
        </div>
      </div>
    </div>
  </head>
</body>
</html>
