{% load static %}  
<link rel="stylesheet" href="{% static '/css/faq.css' %}" />
<link rel="stylesheet" href="{% static '/css/style.css' %}" />
<body>
    <div class="landing-page">
      <div class="container">
        <div class="header-area">
          <div class="logo">Food <b>Delivery</b></div>
          <ul class="links">
            <li><a href="{% url 'start' %}">Главная</a></li>
            {% if request.user.is_authenticated %}<li><a href="{% url 'menu' %}">Меню</a></li> {% endif %}
            {% if request.user.is_authenticated %} <li><a href="{% url 'delivery' %}">Доставка</a></li> {% endif %}
            <li><a href="{% url 'faq' %}">FAQ</a></li>
            {% if request.user.is_authenticated %}<li><a href="{% url 'order' %}">Корзина</a></li>{% endif %}
            {% if request.user.is_anonymous %}<li><a href="{% url 'login_user' %}">Вход</a></li> {% endif %}
            {% if request.user.is_authenticated %}<li><a href="{% url 'logout' %}">Выход</a></li> {% endif %}
            {% if request.user.is_anonymous %}<li><a href="{% url 'regist' %}">Регистрация</a></li> {% endif %}
            {% if request.user.is_staff and request.user.is_authenticated %}<li><a href="{% url 'create' %}">Создать</a></li> {% endif %}
          </ul>
        </div>
      </div>
    <div id="faq" class="faq-body">
      <div class="faq-header">
        <h3 class="faq-title">FAQ's</h3>
        <div class="seperator"></div>
      </div>
      <div class="faq-list">
        <div>
          <details open>
            <summary title="How can I pay for my appointment?">
              Как сделать заказ?
            </summary>
            <p class="faq-content">
              Для оформления заказа на сайте доставки еды необходимо выбрать блюда из меню, указать адрес доставки и оплатить заказ. Вы также можете заказать еду по телефону или через мобильное приложение.
            </p>
          </details>
        </div>
        <div>
          <details>
            <summary title="What can I expect at my first consultation?">
              Как долго будет доставка?
            </summary>
            <p class="faq-content">
              Срок доставки зависит от ситуации на дорогах и расстояния до места доставки. В среднем, доставка занимает от 15 до 30 минут.
            </p>
          </details>
        </div>
        <div>
          <details>
            <summary title="What are your opening hours?">
              Как решить проблему с заказом?
            </summary>
            <p class="faq-content">
              Если у вас возникли проблемы с заказом, свяжитесь с нами по почте example@gmail.com или по номеру телефона +7(495)-777-77-77.
            </p>
          </details>
        </div>
        <div>
          <details>
            <summary title="Do I need a referral?">
              Можно ли отменить заказ?
            </summary>
            <p class="faq-content">
              Да, вы можете отменить заказ, если с момента оплаты прошло не более 5 минут.
            </p>
          </details>
        </div>
        <div>
        </div>
      </div>
    </div>
  </head>
</body>
</html>
