{% load static %} {%block content%}
{% load static %}
<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Описание страницы" />
    <link href="https://fonts.cdnfonts.com/css/blocktastic" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/6899c3dcee443716273e3f7926cc1ec7?family=Rhinos+rocks" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/style3.css' %}">
    <link rel="stylesheet" href="{% static '/css/menu.css' %}">    
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="landing-page">
        <div class="container">
          <div class="header-area">
            <div class="logo">Food <b>Delivery</b></div>
            <ul class="links">
              <li><a href="{% url 'start' %}">Главная</a></li>
              {% if request.user.is_authenticated %}<li><a href="{% url 'menu' %}">Меню</a></li> {% endif %}
              {% if request.user.is_authenticated %} <li><a href="{% url 'delivery' %}">Доставка</a></li> {% endif %}
              <li><a href="{% url 'faq' %}">FAQ</a></li>
              {% if request.user.is_authenticated %}<li><a href="{% url 'order' %}">Корзина</a></li>{% endif%}
              {% if request.user.is_anonymous %}<li><a href="{% url 'login_user' %}">Вход</a></li> {% endif %}
              {% if request.user.is_authenticated %}<li><a href="{% url 'logout' %}">Выход</a></li> {% endif %}
              {% if request.user.is_anonymous %}<li><a href="{% url 'regist' %}">Регистрация</a></li> {% endif %}
              {% if request.user.is_staff and request.user.is_authenticated %}<li><a href="{% url 'create' %}">Создать</a></li> {% endif %}
            </ul>
          </div>

          {% comment %} popup {% endcomment %}
          <div class="popup">
            <div class="popup-content">
              <span class="close">&times;</span>
              {% comment %} <img src="https://www.freeiconspng.com/thumbs/address-icon/address-icon-15.png"></img> {% endcomment %}
              <h2>Введите ваш адрес</h2>
              <form>
                <label for="address">Адрес:</label>
                <input type="text" id="address" name="address" required>
                <button type="submit">Отправить</button>
              </form>
            </div>
          </div>

          <script>
            const popup = document.querySelector('.popup');
            const closeBtn = popup.querySelector('.close');

            function showPopup() {
              popup.classList.add('active');
            }

            function hidePopup() {
              popup.classList.remove('active');
            }

            setTimeout(showPopup, 500); // Появление popup через секунду после загрузки страницы

            closeBtn.addEventListener('click', hidePopup); // Закрытие popup при клике на кнопку "Закрыть"
            popup.addEventListener('click', (e) => {
              if (e.target === popup) {
                hidePopup(); // Закрытие popup при клике на фон
              }
            });
          </script>

          <main>
            <div class = "top-box">
                <div class = "text-top-box">
                  <p>Молоко, яйца, масло</p>
                  <p>Мясо и птица</p>
                  <p>Выпечка</p>
                  <p>Бакалея</p>
                  <p>Полуфабрикаты</p>
                  <p>Напитки</p>
                  <p>Чипсы, орехи, сухофрукты</p>
              </div>
            </div>

            <div class = "logo-text">
              <h3>Молоко, яйца, масло</h3>
            </div>
            <div class = "food">
            {% for el in food_list %}
            {% if el.category == "Молоко, яйца, масло" %}
            <div class="container-food">
              <img src="{{ el.image }}"/>
              <div class="content-box">
                <h4 class="name">{{ el.name }}</h4>
                <div class="btn">
                  <h2 class="price">{{ el.price }} ₽</h2>

                  <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.id }}">
                    <input type="hidden" name="name" value="{{ el.name }}">
                    <input type="hidden" name="price" value="{{ el.price }}">
                    <input type="hidden" name="image" value="{{ el.image }}">
                    <button type="submit" class="btn" name="Basket"><a>Добавить</a></button>
                  </form>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}

              <div class = "logo-text">
                <h3>Мясо и птица</h3>
              </div>
              <div class = "food">
              {% for el in food_list %}
              {% if el.category == "Мясо и птица" %}
              <div class="container-food">
                <img src="{{ el.image }}"/>
                <div class="content-box">
                  <h4 class="name">{{ el.name }}</h4>
                  <div class="btn">
                    <h2 class="price">{{ el.price }} ₽</h2>

                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="user" value="{{ user.id }}">
                      <input type="hidden" name="name" value="{{ el.name }}">
                      <input type="hidden" name="price" value="{{ el.price }}">
                      <input type="hidden" name="image" value="{{ el.image }}">
                      <button type="submit" class="btn" name="Basket"><a>Добавить</a></button>
                    </form>

                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}

              <h3>Выпечка</h3>
              <div class = "food">
              {% for el in food_list %}
              {% if el.category == "Выпечка" %}
              <div class="container-food">
                <img src="{{ el.image }}"/>
                <div class="content-box">
                  <h4 class="name">{{ el.name }}</h4>
                  <div class="btn">
                    <h2 class="price">{{ el.price }} ₽</h2>

                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="user" value="{{ user.id }}">
                      <input type="hidden" name="name" value="{{ el.name }}">
                      <input type="hidden" name="price" value="{{ el.price }}">
                      <input type="hidden" name="image" value="{{ el.image }}">
                      <button type="submit" class="btn" name="Basket"><a>Добавить</a></button>
                    </form>

                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}

              <h3>Бакалея</h3>
              <div class = "food">
              {% for el in food_list %}
              {% if el.category == "Бакалея" %}
              <div class="container-food">
                <img src="{{ el.image }}"/>
                <div class="content-box">
                  <h4 class="name">{{ el.name }}</h4>
                  <div class="btn">
                    <h2 class="price">{{ el.price }} ₽</h2>

                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="user" value="{{ user.id }}">
                      <input type="hidden" name="name" value="{{ el.name }}">
                      <input type="hidden" name="price" value="{{ el.price }}">
                      <input type="hidden" name="image" value="{{ el.image }}">
                      <button type="submit" class="btn" name="Basket"><a>Добавить</a></button>
                    </form>

                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}


              <h3>Полуфабрикаты</h3>
              <div class = "food">
              {% for el in food_list %}
              {% if el.category == "Полуфабрикаты" %}
              <div class="container-food">
                <img src="{{ el.image }}"/>
                <div class="content-box">
                  <h4 class="name">{{ el.name }}</h4>
                  <div class="btn">
                    <h2 class="price">{{ el.price }} ₽</h2>

                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="user" value="{{ user.id }}">
                      <input type="hidden" name="name" value="{{ el.name }}">
                      <input type="hidden" name="price" value="{{ el.price }}">
                      <input type="hidden" name="image" value="{{ el.image }}">
                      <button type="submit" class="btn" name="Basket"><a>Добавить</a></button>
                    </form>

                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}


              <h3>Напитки</h3>
              <div class = "food">
              {% for el in food_list %}
              {% if el.category == "Напитки" %}
              <div class="container-food">
                <img src="{{ el.image }}"/>
                <div class="content-box">
                  <h4 class="name">{{ el.name }}</h4>
                  <div class="btn">
                    <h2 class="price">{{ el.price }} ₽</h2>

                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="user" value="{{ user.id }}">
                      <input type="hidden" name="name" value="{{ el.name }}">
                      <input type="hidden" name="price" value="{{ el.price }}">
                      <input type="hidden" name="image" value="{{ el.image }}">
                      <button type="submit" class="btn" name="Basket"><a>Добавить</a></button>
                    </form>

                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}


              <h3>Чипсы, орехи, сухофрукты</h3>
              <div class = "food">
              {% for el in food_list %}
              {% if el.category == "Чипсы, орехи, сухофрукты" %}
              <div class="container-food">
                <img src="{{ el.image }}"/>
                <div class="content-box">
                  <h4 class="name">{{ el.name }}</h4>
                  <div class="btn">
                    <h2 class="price">{{ el.price }} ₽</h2>

                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="user" value="{{ user.id }}">
                      <input type="hidden" name="name" value="{{ el.name }}">
                      <input type="hidden" name="price" value="{{ el.price }}">
                      <input type="hidden" name="image" value="{{ el.image }}">
                      <button type="submit" class="btn" name="Basket"><a>Добавить</a></button>
                    </form>

                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}

            </div> 
          </main>
          {% endblock %}
    </div>
  </body>
</html>


