{% load static %} {%block content%}

{% load static %}
<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Описание страницы" />
    <link href="https://fonts.cdnfonts.com/css/blocktastic" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/6899c3dcee443716273e3f7926cc1ec7?family=Rhinos+rocks" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/style2.css' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="landing-page">
        <div class="container">
          <div class="header-area">
            <div class="logo">Food <b>Delivery</b></div>
            <ul class="links">
              <li><a href="{% url 'start' %}">Главная</a></li>
              {% if request.user.is_authenticated %}<li><a href="{% url 'menu' %}">Меню</a></li> {% endif %}
              <li><a href="{% url 'about' %}">О нас</a></li>
              {% if request.user.is_authenticated %} <li><a href="{% url 'delivery' %}">Доставка</a></li> {% endif %}
              <li><a href="{% url 'faq' %}">FAQ</a></li>
              {% if request.user.is_anonymous %}<li><a href="{% url 'login_user' %}">Вход</a></li> {% endif %}
              {% if request.user.is_authenticated %}<li><a href="{% url 'logout' %}">Выход</a></li> {% endif %}
              {% if request.user.is_anonymous %}<li><a href="{% url 'regist' %}">Регистрация</a></li> {% endif %}
              {% if request.user.is_staff and request.user.is_authenticated %}<li><a href="{% url 'create' %}">Создать</a></li> {% endif %}
            </ul>
          </div>
          <main>
            <div class="main-box">
            <div class="box">
                <h1>Добро пожаловать!</h1>
                <h2>Пожалуйста, заполните следующие поля:</h2>
                <form action="{% url 'search' %}" method="get">
                  <div class="form-group">
                    <label>Город отправления</label>
                    <input class="form-control" aria-describedby="emailHelp" name="food" />
                  </div>
                  <button type="submit" class="btn btn-outline-primary pd-1">
                    Подтвердить
                  </button>
                </form>
              </div>
              
              {%endblock%}
          </main>
    </div>
  </body>
</html>


