{% load static %} {%block content%}

{% load static %}
<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Описание страницы" />
    <link href="https://fonts.cdnfonts.com/css/blocktastic" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/6899c3dcee443716273e3f7926cc1ec7?family=Rhinos+rocks" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/style3.css' %}">
    <link rel="stylesheet" href="{% static '/css/menu.css' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="landing-page">
        <div class="container">
          <div class="header-area">
            <div class="logo">Food <b>Delivery</b></div>
            <ul class="links">
              <li><a href="{% url 'start' %}">Главная</a></li>
              {% if request.user.is_authenticated %}<li><a href="{% url 'menu' %}">Меню</a></li> {% endif %}
              {% if request.user.is_authenticated %} <li><a href="{% url 'delivery' %}">Доставка</a></li> {% endif %}
              <li><a href="{% url 'faq' %}">FAQ</a></li>
              {% if request.user.is_authenticated %}<li><a href="{% url 'faq' %}">Корзина</a></li>{% endif%}
              {% if request.user.is_anonymous %}<li><a href="{% url 'login_user' %}">Вход</a></li> {% endif %}
              {% if request.user.is_authenticated %}<li><a href="{% url 'logout' %}">Выход</a></li> {% endif %}
              {% if request.user.is_anonymous %}<li><a href="{% url 'regist' %}">Регистрация</a></li> {% endif %}
              {% if request.user.is_staff and request.user.is_authenticated %}<li><a href="{% url 'create' %}">Создать</a></li> {% endif %}
            </ul>
          </div>
          <main>
            <div class = "top-box">
                <div class = "text-top-box">
                  <p>Молочная продукция</p>
                  <p>Полуфабрикаты</p>
                  <p>Мясная гастрономия</p>
                  <p>Выпечка</p>
                  <p>Бакалея</p>
                  <p>Напитки</p>
                  <p>Снеки</p>
              </div>
            </div>
              {% comment %} {% for el in food_list %}
                <div class = "list">
                  <h3>{{ el.name }}</h3>
                  <h3>{{ el.category }}</h3>
                  <h3>{{ el.price }}</h3>
                  <h3>{{ el.description }}</h3>
                  <h3>{{ el.expiration_date }}</h3>
                  <img src="{{ el.image }}">
                </div> 
              {% endfor %} {% endcomment %}

              <h3>Молочная продукция</h3>
              <div class = "food">
              {% for el in food_list %}
              {% if el.category == "Молоко, яйца, масло" %}
              <div class="container-food">
                <img src="{{ el.image }}"/>
                <div class="content-box">
                  <h4 class="name">{{ el.name }}</h4>
                  <div class="btn">
                    <h2 class="price">{{ el.price }} ₽</h2>
                    <a href="#">В корзину</a>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}

              <div class = "logo-text">
                <h3>Мясо и птица</h3>
              </div>
              <div class = "food">
              {% for el in food_list %}
              {% if el.category == "Мясо и птица" %}
              <div class="container-food">
                <img src="{{ el.image }}"/>
                <div class="content-box">
                  <h4 class="name">{{ el.name }}</h4>
                  <div class="btn">
                    <h2 class="price">{{ el.price }} ₽</h2>
                    <a href="#">В корзину</a>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </main>
          {% endblock %}
    </div>
  </body>
</html>


