{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Описание страницы" />
    <link href="https://fonts.cdnfonts.com/css/blocktastic" rel="stylesheet" />
    <link
      href="//db.onlinewebfonts.com/c/6899c3dcee443716273e3f7926cc1ec7?family=Rhinos+rocks"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/style3.css' %}" />
    <link rel="stylesheet" href="{% static '/css/order.css' %}" />
    <title>{% block title %}Корзина{% endblock %}</title>
  </head>
  <body>
    <div class="landing-page">
      <div class="container">
        <div class="header-area">
          <div class="logo">Food <b>Delivery</b></div>
          <ul class="links">
            <li><a href="{% url 'start' %}">Главная</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'menu' %}">Меню</a></li>
            {% endif %} {% if request.user.is_authenticated %}
            <li><a href="{% url 'delivery' %}">Доставка</a></li>
            {% endif %}
            <li><a href="{% url 'faq' %}">FAQ</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'order' %}">Корзина</a></li>
            {% endif%} {% if request.user.is_anonymous %}
            <li><a href="{% url 'login_user' %}">Вход</a></li>
            {% endif %} {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Выход</a></li>
            {% endif %} {% if request.user.is_anonymous %}
            <li><a href="{% url 'regist' %}">Регистрация</a></li>
            {% endif %} 
            {% if request.user.is_staff and request.user.is_authenticated %}<li><a href="{% url 'create' %}">Создать</a></li>
            {% endif %}
          </ul>
        </div>
        
        <div class="order-exit">
          <a>← Вернуться в каталог</a>
        </div>
   
        <div class="order-text">
          <h1>Корзина</h1>
          <h2>Очистить корзину</h2>
        </div>

        <div class="order-total">
          <div class="order-block-head">
            <h1>Итого </h1>
            <h2>Доставка 10-15 минут </h2>
          </div>
          <hr>
          <div class="order-block-total">
            <h2>Товары </h2>.
            <h2>{{ sum_price|floatformat:0 }} ₽</h2>
          </div>
          <div class="order-block-total">
            <h2>Доставка </h2>
            <h2>99 ₽</h2>
          </div>
          <hr>
          <div class="order-block-end-total">
            <h2>К оплате<h2>
            <h2>{{ total|floatformat:0 }} ₽</h2>
          </div>
          <div class="order-button">
            <div class="order-block-button">          
             <button><a>Оплатить</a></button>
           </div>
          </div>
        </div>
        
          {% for food in food_list %}
          <div class="order-main-cont">
             <div class="order-food-cont">
                <div class="order-image">
                   <img src="{{ food.image }}", width="100px" height="100px"></img>
                </div>
                <div class="order-about">
                   <h1>
                   {{ food.name }}
                   <h1>
                   <div class="order-price">
                      <h1>
                      {{ food.price }} ₽
                      <h1>
                   </div>
                  <form method="POST" action="{% url 'order' %}">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <button type="submit">Удалить из корзины</button>
                  </form>
                
                </div>
                <div class="input-group">
                   <input type="button" value="-" id="button_minus">
                   <input type="number" step="1" min="1" max="10" id="num_count" name="quantity" value="1" title="Qty">
                   <input type="button" value="+" id="button_plus">
                </div>
             </div>
          </div>
          {% endfor %} 
        



    <script>
      var numCount = document.getElementById('num_count');
      var plusBtn = document.getElementById('button_plus');
      var minusBtn = document.getElementById('button_minus');
      plusBtn.onclick = function() {
        var qty = parseInt(numCount.value);
        qty = qty + 1;
        numCount.value = qty;
      }
      minusBtn.onclick = function() {
        var qty = parseInt(numCount.value);
        qty = qty - 1;
        numCount.value = qty;
      }
    </script>
  </body>
</html>
