{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Document</title>
</head>
<body>
<div class="landing-page">
    <div class="container">
      <div class="header-area">
        <div class="logo">Food <b>Delivery</b></div>
        <ul class="links">
          <li><a href="{% url 'start' %}">Главная</a></li>
          <li><a href="{% url 'menu' %}">Меню</a></li>
          <li><a href="{% url 'about' %}">О нас</a></li>
          <li><a href="{% url 'delivery' %}">Доставка</a></li>
          <li><a href="{% url 'faq' %}">FAQ</a></li>
          <li>Вход</li>
        </ul>
      </div>
      <div class="info">
        <h1>Быстрее, чем вы можете себе представить</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut velit labore eos voluptates numquam tempore at minima sunt obcaecati, dicta suscipit quaerat quasi modi id sapiente, porro consequatur vel debitis?</p>
        <button>Go</button>
      </div>
      <div class="image">
        <img src="{% static '/assets/food_plate.png' %}">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="about-card">
  <figure class='ice-cream'>
    <div class="ice-cream__hero">
      <img src="https://images.unsplash.com/photo-1488900128323-21503983a07e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80" alt="Photo by Pablo Merchán Montes" class="ice-cream__img">
    </div>
    <div class="ice-cream__content">
      <div class="ice-cream__title">
        <h1 class="ice-cream__heading">
          text
        </h1>
        <div class="ice-cream__tag ice-cream__tag--1">#type1</div>
        <div class="ice-cream__tag ice-cream__tag--2">#type2</div>
      </div>
      <div class="ice-cream__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ut, esse ipsum omnis ducimus ad maiores aperiam consequatur, ipsa, veritatis velit nobis in. Quae nihil unde veniam incidunt deleniti minima!
      </div>
    </div>
    </div>
    
    


</body>
</html>
